body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%; 
}

* {
  box-sizing: border-box;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #ff6082;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #ff4062;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #ffe6eb;
  border-radius: 4px;
}
